{% extends "main/base.html" %}
{% load static %}

{% block title %} Sign up - Ma3an {% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Sign Up - Agency</h2>
    <hr>

    <form method="post">
        {% csrf_token %}

        <h4>User Information</h4>
        {{ user_form.as_p }}

        <h4>Agency Information</h4>
        {{ agency_form.as_p }}

        <button type="submit" class="btn btn-success mt-3">Sign Up</button>
    </form>

    {% if user_form.errors %}
        <div class="alert alert-danger mt-3">
            {{ user_form.errors }}
        </div>
    {% endif %}
    {% if agency_form.errors %}
        <div class="alert alert-danger mt-3">
            {{ agency_form.errors }}
        </div>
    {% endif %}
</div>




{% endblock %}