{% extends "main/base.html" %}
{% load static %}

{% block content %}


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Sign Up</h2>
                    <form action="{% url 'accounts:signup_traveler' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                        </div>
                        
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Username" name="username" required>
                        </div>
                        
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                        </div>
                        
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                        </div>
                        
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
