{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="form-container">
    <form class="user-form" action="{% url 'accounts:signup_traveler' %}" method="post" enctype="multipart/form-data">
        <h2>Traveler Sign Up</h2>

        {% csrf_token %}

        <input type="email" placeholder="Email" name="email" required />
        <input type="text" placeholder="Username" name="username" required />
        <input type="text" placeholder="First Name" name="first_name" required />
        <input type="text" placeholder="Last Name" name="last_name" required />
        <input type="password" placeholder="Password" name="password" required />

        <input type="date" placeholder="Date of Birth" name="date_of_birth" />
        <input type="text" placeholder="Phone Number" name="phone_number" />
        <select name="gender">
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <input type="text" placeholder="Nationality" name="nationality" />
        <input type="text" placeholder="Passport Number" name="passport_number" />
        <input type="date" placeholder="Passport Expiry Date" name="passport_expiry_date" />

        <button type="submit" class="submit-btn">Sign up</button>
    </form>
</div>

{% endblock %}
