{% block content %}
<script src="https://js.stripe.com/v3/"></script>

<button id="pay-btn">Pay</button>

<script>
const stripe = Stripe("{{ stripe_key }}");

document.getElementById("pay-btn").onclick = function () {
  stripe.confirmCardPayment("{{ client_secret }}", {
    payment_method: {
      card: {
        // Stripe Test Card
        number: '4242424242424242',
        exp_month: 12,
        exp_year: 34,
        cvc: '123'
      }
    }
  }).then(function(result) {
    if (result.error) {
      window.location.href = "{% url 'traveler:tour_detail_view' join.tour.id %}";
    } else {
      window.location.href = "{% url 'traveler:payment_success' join.tour.id %}";
    }
  });
};
</script>

{% endblock %}