<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select the subscription package</title>

</head>

<body>

    <h1>Select the subscription package</h1>

    <!-- Packages Grid -->
     
    <div>

        <!-- Basic Package -->
        <div>
            <h2>Basic</h2>
            <p>Price: $9.99 per Month</p>
            <ul>
                <li>20 Tours</li>
                <li>30 Supervisors</li>
                <li>100 Travelers</li>
                <li>limited Notifications</li>
                <li>Dedicated Account Manager (Not included)</li>
                <li>API Access (Not included)</li>
                <li>Live GPS tracking (Not included)</li>
            </ul>
<!-- مثال لزر باقة Basic -->
<a href="{% url 'agency_payment' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
    Select Plan
</a>

        </div>

        <!-- Standard Package -->
        <div>
            <h2>Standard</h2>
            <p>Price: $19.99 per Month</p>
            <ul>
                <li>50 Tours</li>
                <li>90 Supervisors</li>
                <li>200 Travelers</li>
                <li>Unlimited Notifications</li>
                <li>Dedicated Account Manager</li>
                <li>API Access (Not included)</li>
                <li>Live GPS tracking (Not included)</li>
            </ul>
<!-- مثال لزر باقة Basic -->
<a href="{% url 'agency_payment' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
    Select Plan
</a>

        </div>

        <!-- Premium Package -->
        <div>
            <h2>Premium</h2>
            <p>Price: $49.99 per Month</p>
            <ul>
                <li>Unlimited Tours</li>
                <li>Unlimited Supervisors</li>
                <li>Unlimited Travelers</li>
                <li>Unlimited Notifications</li>
                <li>Dedicated Account Manager</li>
                <li>API Access</li>
                <li>Live GPS tracking</li>
            </ul>
<!-- مثال لزر باقة Basic -->
<a href="{% url 'agency_payment' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
    Select Plan
</a>

        </div>
    </div>

    <div class="mb-3">
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">&larr; Back to Dashboard</a>
</div>

</body>
</html>
